      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
		font-family: 'Open Sans', sans-serif;
      }
	  
	  .buspic {
		  width: 100%;
		  height: auto;
	  }
	  
	 .liBtn {
		position: fixed;
		z-index: 3;
		width: 302px;
		height: 600px;
		top: 20%;
		left: 2%;
		background-color: white;
		overflow: scroll;
	  }
	  
	  .liBtn img, .liBtn .reviews, .liBtn a, .liBtn .rating, .liBtn .phone, .liBtn .price {
		  display: none;
	  }
	  
	  .btns div{ 
	    background-color: aliceblue;
		text-align: center;
		position: relative;
		right: 15px;
		box-shadow: 5px 6px 5px #888888;
		-moz-box-shadow: 5px 6px 5px #888888;
		-webkit-box-shadow: 5px 6px 5px #888888;
		 border: 1px solid black;
      }
	  
	  
	  .btns div:hover {
		color: white;
		background-color: slategray;
		cursor: pointer;
	  }
	  
	  .btns li { 
	  padding: 6px;
      list-style: none;
	  }
	  
	.search {
		left: 37px;
		position: fixed;
		top: 12%;
		box-shadow: 3px 3px 5px #888888;
		-moz-box-shadow: 3px 3px 5px #888888;
		webkit-box-shadow: 3px 3px 5px #888888;
		height: 36px;
		width: 16%;
		/* margin: 0 auto; */
	}
	
	.heading {
    bottom: 85%;
    position: relative;
    background-color: aliceblue;
    left: 40%;
    
	}
	
    .weatherIn {
    bottom: 21%;
    position: absolute;
    left: 86%;
    background: aliceblue;
    width: 200px;
    padding: 10px;
    border: 1px solid black;
}



@media (max-width: 500px) {
	.liBtn { 
	visibility: hidden;
	}
	
	.info {
    width: 191px;
    height: auto;
	}

	.weatherIn {
    bottom: 21%;
    position: absolute;
    left: 86%;
    background: aliceblue;
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    visibility: hidden;
	}
	

}
	  